{% extends "blog/wrapper.html" %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  href="{% static 'blog/css/bootstrap.min.css'%}"
  type="text/css"
/>
<main role="main">
  <div class="container marketing mx-auto my-2 my-sm-3 my-lg-4 p-3">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img
          src="../../../../../static/blog/images/buga.jpeg"
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 140x140"
        />
        <h2 class="text-warning">The most beautiful flower</h2>
        <p>
          Bougainvillea is a genus of thorny ornamental vines, bushes, or trees.
          It is native to Eastern South America, from Brazil, west to Peru, and
          south to southern Argentina. Different authors accept from four to 18
          species in the genus. The inflorescence consists of large colourful
          sepal-like bracts which surround three simple waxy flowers.
        </p>
        <p>
          <a
            class="btn btn-warning"
            href="https://en.wikipedia.org/wiki/Bougainvillea"
            role="button"
            >Buy it now &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="../../../../../static/blog/images/ham.jpg"
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 140x140"
        />
        <h2 class="text-warning">Your own home palm</h2>
        <p>
          Chamaedorea is a genus of 107 species of palms, native to subtropical
          and tropical regions of the Americas. They are small palms, growing to
          0.3–6 m (1 ft 0 in–19 ft 8 in) tall with slender, cane-like stems,
          growing in the understory in rainforests, and often spreading by means
          of underground runners, forming clonal colonies.
        </p>
        <p>
          <a
            class="btn btn-warning"
            href="https://en.wikipedia.org/wiki/Bougainvillea"
            role="button"
            >Buy it now &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          src="../../../../../static/blog/images/figa.jpg"
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 140x140"
        />
        <h2 class="text-warning">Tree from Arabian Tales</h2>
        <p>
          Ficus carica is known as the common fig. It is the source of the fruit also
          called the fig and as such is an important crop in those areas where
          it is grown commercially. Native to the Mediterranean and western
          Asia, it has been sought out and cultivated since ancient times and is
          now widely grown throughout the world.
        </p>
        <p>
          <a
            class="btn btn-warning"
            href="https://en.wikipedia.org/wiki/Bougainvillea"
            role="button"
            >Buy it now &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <!-- START THE FEATURETTES -->
    <!-- <hr class="featurette-divider" /> -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          First featurette heading.
          <span class="text-muted">It’ll blow your mind.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>

      <div class="col-md-5">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          xmlns="../../../../../static/blog/images/buga.jpeg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 500x500"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <!-- <hr class="featurette-divider" /> -->

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          Oh yeah, it’s that good.
          <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 500x500"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <!-- <hr class="featurette-divider" /> -->

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          And lastly, this one. <span class="text-muted">Checkmate.</span>
        </h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5">
        <svg
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: 500x500"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" />
          <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>
    
    <!-- <hr class="featurette-divider" /> -->

    <!-- /END THE FEATURETTES -->
  </div>
</main>
{% endblock %}
