<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Denis Karandashev">
    <title>Login</title>

    <script type="text/javascript" src="jquery-3.5.1.min.js"></script>

    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/"> -->

    <!-- Bootstrap core CSS -->
    <link href="/Users/sergey/Documents/Study/КГУ/KGU_Project/styles/bootstrap.min.css" rel="stylesheet">

    <!--
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    -->

    <!-- Custom styles for this template -->
    <link href="/Users/sergey/Documents/Study/КГУ/KGU_Project/styles/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="/Users/sergey/Documents/Study/КГУ/KGU_Project/images/hello_yellow.png" alt="Hello!" width="220">
      <h1 class="h3 mb-3 font-weight-normal">Войти:</h1>
      <label for="inputEmail" class="sr-only">Login</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Логин" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
      <div class="checkbox mb-3">
          <label>
              <input type="checkbox" value="remember-me"> Запомнить меня
          </label>
      </div>
      <button class="btn btn-lg btn-warning btn-block" type="submit">Войти</button>
      <p class="mt-5 mb-3 text-muted">&copy; Денис Карандашев 2020</p>
    </form>
</body>
</html>
